In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [66]:
np.arctan2(-7.3, 6.7)

-0.8282290960661756

In [89]:
df = pd.read_table("simulation.dat", sep=" ", index_col=False)

In [90]:
df

     timestamp        rx        ry  rz           m  radius
0         0.00 -5.202760  0.028646   0     2.20921  1.3024
1         0.00  0.000000  0.000000   0  1000.00000  1.0000
2         0.05 -5.168590 -0.663455   0     2.20921  1.3024
3         0.05 -0.000084 -0.000002   0  1000.00000  1.0000
4         0.10 -5.043000 -1.344920   0     2.20921  1.3024
..         ...       ...       ...  ..         ...     ...
199       4.95 -0.018815 -0.164716   0  1000.00000  1.0000
200       5.00  2.382090  6.205640   0     2.20921  1.3024
201       5.00 -0.017600 -0.166783   0  1000.00000  1.0000
202       5.05  1.808740  6.397830   0     2.20921  1.3024
203       5.05 -0.016341 -0.168739   0  1000.00000  1.0000

[204 rows x 6 columns]

In [91]:
min_initial_x = min(df[df.timestamp == 0].rx)
max_initial_x = max(df[df.timestamp == 0].rx)
min_initial_y = min(df[df.timestamp == 0].ry)
max_initial_y = max(df[df.timestamp == 0].ry)
min_initial_z = min(df[df.timestamp == 0].rz)
max_initial_z = max(df[df.timestamp == 0].rz)

In [92]:
min_initial_x

-5.20276

In [93]:
max_initial_x

0.0

In [94]:
min_initial_y

0.0

In [95]:
max_initial_y

0.0286462