In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [20]:
df = pd.read_table("simulation.dat", sep=" ", index_col=False)

In [23]:
df

     timestamp        rx        ry  rz            m    radius
0         0.01 -8.755820  2.898110   0     0.506683  0.079722
1         0.01 -9.091720  2.914080   0     0.963653  0.098774
2         0.01  2.601620  6.203810   0     0.751917  0.090933
3         0.01  0.482187  3.987700   0     0.656687  0.086920
4         0.01  1.622600  6.558650   0     0.608579  0.084743
..         ...       ...       ...  ..          ...       ...
105       0.11  3.068720  7.989790   0     0.783591  0.092193
106       0.11 -3.879570  5.105100   0     0.781594  0.092114
107       0.11 -9.051760  2.669700   0     0.666341  0.087344
108       0.11 -7.981050  5.093390   0     0.255045  0.063417
109       0.11 -0.000559  0.002737   0  1000.000000  0.100000

[110 rows x 6 columns]

In [22]:
df[df.m == df.m[0]]

     timestamp       rx        ry  rz         m    radius
0         0.01 -8.75582  2.898110   0  0.506683  0.079722
10        0.02 -8.82820  2.689230   0  0.506683  0.079722
20        0.03 -8.89955  2.479110   0  0.506683  0.079722
30        0.04 -8.97023  2.267960   0  0.506683  0.079722
40        0.05 -9.04093  2.056010   0  0.506683  0.079722
50        0.06 -9.11282  1.843570   0  0.506683  0.079722
60        0.07 -9.18831  1.631190   0  0.506683  0.079722
70        0.08 -9.27369  1.420250   0  0.506683  0.079722
80        0.09 -9.38034  1.214120   0  0.506683  0.079722
90        0.10 -9.47879  1.007620   0  0.506683  0.079722
100       0.11 -9.54823  0.800707   0  0.506683  0.079722

In [15]:
df[df.m == df.m[0]]

AttributeError: 'DataFrame' object has no attribute 'm'

In [91]:
min_initial_x = min(df[df.timestamp == 0].rx)
max_initial_x = max(df[df.timestamp == 0].rx)
min_initial_y = min(df[df.timestamp == 0].ry)
max_initial_y = max(df[df.timestamp == 0].ry)
min_initial_z = min(df[df.timestamp == 0].rz)
max_initial_z = max(df[df.timestamp == 0].rz)

In [92]:
min_initial_x

-5.20276

In [93]:
max_initial_x

0.0

In [94]:
min_initial_y

0.0

In [95]:
max_initial_y

0.0286462